#[ignore build dirs & binary files]
build
dist
pyheclib.*.so
pyheclib.*.pyd

#[ignore editor specific]
.vscode

#[ignore dss files]
*.dss

#[ignore tmp files]
tmp

#[build residue]
tests/*.so
tools/*.so
*.egg-info
